@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --violet: #8b5cf6;
  --blue: #3b82f6;
}

body {
  background-color: var(--zinc-900)!important;
  width: 100vw;
  height: 100svh;
}

#side-bar {
  height: 100svh;
  width: 17rem;
  background-color: var(--zinc-950);
}

.ph-waves {
  color: var(--zinc-200);
}

.header-title {
  color: var(--zinc-200);
  font-family: 'Roboto';
}

.menu-item {
  margin-left: 3.5rem;
}

.menu-item > a {
  text-decoration: none;
  color: var(--zinc-100);
  font-family: 'Poppins';
  font-weight: 500;
}

.menu-item > a:hover {
  color: var(--zinc-400);
}

.menu-item > .ph {
  font-size: 1.5rem;
  color: var(--zinc-50);
}

#active {
  background-color: var(--violet);
  border-radius: 10px;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  margin-left: 3rem;
}

#active > a:hover {
  color: var(--zinc-300);
}

#sb-footer {
  margin-top: 13rem;
}

#sb-footer > img {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

#username {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 600;
  color: var(--zinc-100);
  margin: 0;
}

#user-email {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--zinc-300);
  margin: 0;
}

.ph-sign-out {
  font-size: 1.5rem;
  color: var(--zinc-300);
  cursor: pointer;
}

.ph-sign-out:hover {
  color: var(--zinc-500);
}

#logout {
  all: unset;
}

#app-screen {
  width: 100vw;
}

#welcome {
  color: var(--zinc-400);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Roboto';
}

.theme-control {
  cursor: pointer;
}

.theme-control > i, p {
  font-size: 1rem;
  color: var(--zinc-100);
  font-weight: 700;
  font-family: 'Poppins';
}

.theme-control > span {
  font-size: 16;
  font-family: 'Poppins';
  font-weight: 500;
  color: var(--violet);
}

#content {
  height: 93svh;
  background-color: var(--zinc-950);
}

#table-header {
  max-height: 64px;
}

#clients-count > i {
  color: var(--zinc-700);
  font-size: 40px;
  background-color: var(--zinc-300);
}

#clients-count-text > p {
  color: var(--zinc-500);
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
}

#clients-count-text > span {
  color: var(--zinc-200);
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 600;
}

#add-client > button, i {
  color: var(--zinc-700);
  font-size: 24px;
}

#add-client > button {
  background-color: var(--zinc-300);
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--zinc-700);
}

#add-client > button:hover {
  background-color: var(--zinc-400);
}

.table {
  --bs-table-bg: #09090b;
  --bs-table-color: #FAFAFA;
  --bs-table-hover-bg: #27272a;
  --bs-table-hover-color: #FAFAFA;
}

th, td {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1rem;
}

td > button > i {
  color: #a78bfa;
  cursor: pointer;
}

td > button > i:hover {
  color: #ddd6fe;
}

.modal-content {
  background-color: var(--zinc-800);
  color: var(--zinc-100);
  font-family: 'Poppins';
  font-weight: 500;
}

.form-control {
  background-color: var(--zinc-200);
  border: none;
  color: var(--zinc-900);
}

.form-control:focus-within {
  background-color: var(--zinc-50);
  box-shadow: none;
}

.modal-footer > button:first-child {
  border: 1px solid #db2777;
  color: var(--zinc-100);
}

.modal-footer > button:first-child:hover {
  color: var(--zinc-100);
  background-color: #f472b6;
}

.modal-footer > button:last-child {
  background-color: #7e22ce;
  border: none;
  color: var(--zinc-100);
}

.modal-footer > button:last-child:hover {
  background-color: var(--violet);
  border: none;
}

#edit-btn, #delete-btn {
  border: none;
  background-color: transparent;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}